<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Destination.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3E5F9DD302EF37400A2771C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3E5F9F6302EF37600A2771C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3E5FA00302EF37600A2771C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
